div {
    h2 {
        color: white;
    }

    mat-dialog-content,
    mat-dialog-actions {
        color: white;
    }

    input {
        color: white !important;
    }
}


.d-flex {
    display: flex;
}