.add-btn{
    padding: 20px;
    background-color: rgba(245, 222, 179, 0.3);
    border-radius: 30px;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;


    &:hover {
        background-color: rgba(245, 222, 179, 0.5);
    }
}


.btn-position {
    position: absolute;
    bottom: 36px;
    right: 36px;
    border-radius: 30px;
}